In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from copy import deepcopy

# Environment

In [3]:
df = pd.read_csv(r'datasets\iris.csv').drop(columns=['Unnamed: 0'])
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
df.Species.value_counts()

Species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [12]:
species_mapping = {
    'setosa': 0, 
    'versicolor': 1, 
    'virginica': 2
}

ds = deepcopy(df)
ds.Species = ds.Species.map(species_mapping)
ds = ds.sample(frac=1)
ds

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
103           6.3          2.9           5.6          1.8        2
21            5.1          3.7           1.5          0.4        0
58            6.6          2.9           4.6          1.3        1
59            5.2          2.7           3.9          1.4        1
143           6.8          3.2           5.9          2.3        2
..            ...          ...           ...          ...      ...
130           7.4          2.8           6.1          1.9        2
11            4.8          3.4           1.6          0.2        0
128           6.4          2.8           5.6          2.1        2
44            5.1          3.8           1.9          0.4        0
15            5.7          4.4           1.5          0.4        0

[150 rows x 5 columns]

# Agent Setting

In [ ]:
class QLearningAgent:
    def __init__(self, n_states: int, n_actions: int, learning_rate=0.01, disccount=0.9):
        None